


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px;
    background-color: #1C1C1D;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: "Roboto";
    color: #A3A3A3;
    text-decoration: none;
    font-size: 18px;
}

.login-btn {
    background-color:#b08a63;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
}

.hero {
    text-align: center;
    color: white ;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: "Gilda Display";


}

.hero p {
    font-size: 22px;
    margin-bottom: 20px;
}

.welcome{
    position: absolute;
    z-index: 10;
    top:40%
}


/* -----------------Swipper------------------- */

.swiper {
    width: 100%;
    height:650px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }


