body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./Images/popular-resort-amara-dolce-vita-luxury-hotel-with-pools-water-parks-recreational-area-along-sea-coast-turkey-tekirova-kemer.jpg); 
    background-size: cover;
    /* #f5f5f5 */
}
.container {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login {
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.account button {
    padding: 10px;
    border: none;
    cursor: pointer;
}
.account .personalacc {
    background-color: orange;
    color: white;   
}
input {
    display: block;
    width: 97vh;
    margin: 10px 0;
    padding: 10px;
    
}

 button {
    display: block;
    width: 100vh;
    margin: 10px 0;
    padding: 10px;
}

/* Submit Button */
input[type="submit"] {
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    background-color: #c49a6c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    /* background: linear-gradient(135deg, #764ba2, #667eea); */
    background-color: #f3eee8;
    color: #c49a6c;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.google-login {
    background: #db4437;
    color: white;
    border: none;
}