body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./Images/Hotel-3.jpg) no-repeat center center/cover;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(245, 245, 245, 0.8); */
    /* background-color: #c49564; */
    background: linear-gradient( #d4a889, #c49564);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 800px;
    text-align: center;
}

.login {
    padding: 20px;
    border: 1px solid #ddd;
}

.account button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: grey;
    color: white;
    width: 100%;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #c49a6c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #f3eee8;
    color: #c49a6c;
}

.google-login {
    background: #db4437;
    color: white;
    border: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }
    
    input, button {
        padding: 8px;
    }
}
