body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: rgb(68, 235, 224);
}
form{
    background-color: rgb(137, 228, 204);
    background-size: 50px;
    border: 40px solid #73ebd5e8;
    border-width: 30px;
}


input {
    width: 90%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #060606;
    border-radius: 5px;
    text-align: center;
}

input[type="submit"] {
    background-color:black;
    color: white;
    font-size: 16px;
    border: none;
    margin-left: 7px;
    padding: 10px;
}


p {
    margin: 0;
    font-size: 15px;
    color:red;
}
h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
 background-color:  black;
 border-radius: 10px;
 color: white;
 margin-top: 30px;
 margin-right: 20px;
}