/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

#cloud{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-size: cover;
}

/* Form Container */
form {
    background: rgba(4, 1, 12, 0.1);
    backdrop-filter: blur(10px);
    margin-left: 500px;
    padding: 0 40px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    width: 350px;
    color: white;
}

h1 {
    color: white;
    margin-bottom: 15px;
    text-align: center;
}

/* Input Fields */
input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 16px; */
    transition: 0.3s ease;
    
}

input[type="text"]:focus {
    border-color: #c49a6c;
    outline: none;
    box-shadow: 0px 0px 8px rgba(102, 126, 234, 0.5);
}

/* Error Messages */
p {
    color: red;
    font-size: 12px;
    margin: 0;
    height: 15px;
}

/* Submit Button */
input[type="submit"] {
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    background-color: #c49a6c;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    /* background: linear-gradient(135deg, #764ba2, #667eea); */
    background-color: #f3eee8;
    color: #c49a6c;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

